@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.globalContainer {
	width: 100%;
	height: 100%;
	background-color: rgb(46 56 77 / 30%);
	z-index: 0;
	display: grid;
	place-items: center;
	align-self: center;
}

.modalContainer {
	width: 100%;
	height: 100%;
	pointer-events: auto;
	position: fixed;
	top: 0;
	z-index: 2;
	background: linear-gradient(90deg, #9d50bb, #2a5ce6);
	color: #fefefe;
	border: 1px solid rgb(24, 24, 24);
	border-radius: 4px;
	outline: 0;
	margin: 0 auto;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mainLy {
    display: grid;
	place-items: center;
	/* grid-template-columns: 8% 82% 8%; */
	padding: 9.5em 0 5em 0;
}

.child {
	height: 100%;
	width: 100%;
	padding: 0 1em 0 1em;
    display: grid;
	place-items: center;
	text-align: center;
}

.center {
    display: grid;
	place-items: center;
	row-gap: 1.5em;
	text-align: center;
}

.title {
	font-family: 'Pacifico', cursive;
	line-height: 1.5em;
}

.btnPos {
	position: fixed;
	bottom: 50px;
	left: 27px;
}

.formBtn {
    margin: 5px;
	padding: 10px 50px 10px 50px;
	border-style: none;
	border-radius: 7px;
	color: #fefefe;
	background-color: #444444;
    font-size: 16px;
	font-family: inherit;
}

.specialBtn {
    width: 110%;
    margin: 5px;
	padding: 10px 50px 10px 50px;
	border-style: none;
	border-radius: 30px;
	color: #fefefe;
	background-color: rgb(0, 102, 255);
    font-size: 20px;
    font-weight: 450;
	font-family: inherit;
}